.Trades_Outer{
    background-color: #2E2E2E;
}
.Trades_Test {
    position: relative;
    align-items: center;
    height: 69px;
    width: 100%;
    display: flex;
    background-color: #2E2E2E;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-shadow: 2px 1px #2E2E2E;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px 0px, rgba(0, 0, 0, 0.26) 0px 10px 10px 0px;
}
/* .topSide{
    margin-top: 69px
} */
.gamePic {

}
.gamePic > img{
    width: 200px;
    height: 200px;
}
/* .Trades_Outer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
} */
.bottomSide > img {
    width: 200px;
    height: 200px;
}

