.Trades_Header {
    height: calc(10vh - 8px);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    color: #FC9B00;
    background-color: #2E2E2E;
}

.Trades_Outer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.Trades_Best_Match {
    height: 30vh;
    width: 100vw;
    background-color: #2E2E2E;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    align-items: space-between;
    border-top: 2px solid whitesmoke;
}

.Trades_Great_Match {
    height: 30vh;
    width: 100vw;
    background-color: #2E2E2E;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    align-items: space-between;
}

.Trades_Good_Match {
    height: 30vh;
    width: 100vw;
    background-color: #2E2E2E;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    align-items: space-between;
}

.Trades_Info_Display {
    justify-content: center;
    align-items: center;
    color: #2e2e2e;
    height: 10%;
    width: 100px;
    background-color: #28AB53;
    border-right: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

.Trades_h4 {
    margin: 0;
}

.Trades_Display_Users {
    height: 100%;
    width: calc(100% - 100px);
    display: flex;
    align-items: center;
}

.Trades_Profile_Outer {
    height: 90%;
    width: 120px;
    background-color: whitesmoke;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
}

.profile-pic {
    border: 2px solid #FC9B00
}

.element::-webkit-scrollbar {
    width: 0 !important
}

.Trades_Card_Outer {
    color: whitesmoke;
    position: relative;
    height: 90%;
    background: #2E2E2E;
    width: 169px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px;
    padding: 9px;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px 0px, rgba(0, 0, 0, 0.26) 0px 10px 10px 0px;
}

.Trades_Card_Outer::-webkit-scrollbar {
    display: none;
}

.Trades_Card_Outer:hover {
    height: 150%;
    position: relative;
    top: 30%;
    overflow-y: scroll;
}

.Trades_Profile_Pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 5px 0 0 0;
}

.Trades_User_games {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: .8rem;
    color: white;
    margin: 20px 0;
    flex-wrap: wrap;
}

.Trades_Individual_Games {
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 10px;
}