    .wishDropdown {
        padding-top: 9px;
        width: 169px;
        height: 111px;
        background: #2E2E2E;
        position: absolute;
        bottom: 3px;
        left: 0px;
        z-index: -1;
        display: flex;
        flex-wrap: wrap;
        border-radius: 3px;
    }
    
    .filter-option {
        display: flex;
        align-items: center;
        margin-bottom: 3px;
    }
    
    .wishDropdown h4 {
        color: #22CEF9;
        margin-left: 9px;
    }
    
    .check-container {
        padding: 9px;
        /* background: red; */
        display: flex;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .submit-games-addpoints {
        display: flex;
        height: 40%;
        width: 100%;
        align-items: center;
    }
    
    .submit-games-points {
        height: 10%;
        width: 20%;
        text-align: center;
    }
    
    .Up-Down-10 {
        display: flex;
        flex-direction: column;
    }
    
    .submit-game {
        /* background: black; */
        width: 100%;
        height: 60%;
        flex-direction: column;
        justify-content: space-around;
        padding: 3px;
    }
    
    .submit-game h5 {
        color: white;
    }
    
    .submit-wish {
        /* background: purple; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .submit-wish:hover {
        cursor: pointer;
    }
    
    .console-icon {
        width: 18px;
        margin-left: 6px;
    }
    
    .Addwish_Add_Wish {
        background-color: whitesmoke;
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative;
    bottom: 100px; */
    }
    
    .Addwish_Add_game {
        background-color: rgb(182, 12, 12);
        height: 100px;
        width: 100px;
        display: none;
        justify-content: center;
        align-items: center;
    }